extends layout

block content
  .container
    h1 Login Page
    p.lead Say something worthwhile here.
    br
    if(message)
      p= message
    br
    form(role='form', action="/login", method="post", style='max-width: 300px;')
      input.form-control(type='text', name="username", placeholder='Enter Username')
      br
      input.form-control(type='password', name="password", placeholder='Password')
      br
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
